{% extends 'base.html' %}

{% block content %}
    <h1>{{question.question}}</h1>
    <form action="/answer" method="POST">
        {% for choice in question.choices %}
            <input type="radio" name="answer" value="{{choice}}">
            <label for="css">{{choice}}</label><br>
        {% endfor %}
        <br>
        <button>Submit</button>
    </form>

    <!-- Is "get_flashed_messages()" just default? -->

    {% for msg in get_flashed_messages() %}
        <p>{{ msg }}</p>
    {% endfor %}
{% endblock %}